<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>
      {% include 'header.html'%}

      {% block content %}

      {% endblock content %}
      {% include 'footer.html'%}

      {% include 'script.html'%}
</body>

</html>