{% extends 'base.html' %}
{% load static %}

 
 {% block content %}
   
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for all in page_obj%}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{all.get_absolute_url}}"><img src="{{ all.thumnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{all.timestamp}}</div>
                    {% for cat in all.categories.all%}
                    <div class="category"><a href="#">{{cat}}</a></div>
                    {% endfor %}
                  </div><a href="{{all.get_absolute_url}}">
                    <h3 class="h4">{{all.title}}</h3></a>
                  <p class="text-muted">{{all.overview}}</p>
                  <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{all.author.profile_image.url}}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{all.author}}</span></div></a>
                    <div class="date"><i class="icon-clock"></i> {{all.timestamp | timesince }} ago</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{all.comment_count}}</div>
                  </footer>
                </div>
              </div>
              <!-- post             -->
               {% endfor %}
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                 {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% else %}
                <li class=""><a href="?{{ page_var }}=1" class=""> </a></li>
                 {% endif %}
                <li class="page-item"><a href="" class="page-link active">{{page_obj.number}}</a></li>
                <li class="page-item"><a href="" class="page-link ">{{page_obj.number}}</a></li>

                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="{%url 'search'%}" class="search-form">
              <div class="form-group">
                <input type="text" name="q" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts">
              {% for all_l in latest %}
              <a href="{{all_l.get_absolute_url}}">
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{all_l.thumnail.url}}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{all_l.title}}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i>{{all_l.comment_count}}</div>
                      <div class="comments"><i class="icon-comment"></i>{{all_l.comment_count}}</div>
                    </div>
                  </div>
                </div></a><a href="{{all_l.get_absolute_url}}">
               {% endfor %}
          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cat_count in categories_count %}
            <div class="item d-flex justify-content-between"><a href="#">{{cat_count.categories__title}}</a><span>{{cat_count.categories__title__count}}</span></div>
            {% endfor %}

          </div>
          <!-- Widget [Tags Cloud Widget]-->

        </aside>
      </div>
    </div>
    <!-- Page Footer-->
  
    {% endblock content %}