{% load static %}
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Bootstrap Blog - B4 Template by Bootstrap Temple</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
      <link rel="stylesheet" href="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      <link rel="shortcut icon" href="{% static 'favicon.png' %}">
      <!-- Tweaks for older IEs--><!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>