{% extends 'base.html' %}
 
 {% block content %}
   
    <!-- Hero Section-->
    {% load static %}
    <section style="background: url({% static 'img/hero.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>Bootstrap 4 Blog - A free template by Bootstrap Temple</h1><a href="#" class="hero-link">Discover More</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
<!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Some great intro here</h2>
            <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for object in object_list %}
        <div class="row d-flex align-items-stretch">
          {% if not forloop.first and not forloop.last %}
          <div class="image col-lg-5"><img src="{{ object.thumnail.url }}" alt="..."></div>
          {% endif %}
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    {% for cat in object.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}

                  </div><a href="{{object.get_absolute_url}}">
                    <h2 class="h4">{{ object.title }}</h2></a>
                </header>
                <p>{{ object.overview }}</p>
                <footer class="post-footer d-flex align-items-center"><a href="{{object.get_absolute_url}}" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ object.author.profile_image.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ object.author }}</span></div></a>
                  <div class="date"><i class="icon-clock"></i> {{ object.timestamp | timesince }} ago</div>
                  <div class="comments"><i class="icon-comment"></i>{{ object.comment_count }}</div>
                </footer>
              </div>
            </div>
          </div>
          {% if forloop.first or forloop.last %}
          <div class="image col-lg-5"><img src="{{ object.thumnail.url }}" alt="..."></div>
          {% endif %}
        </div>
        {% endfor %}

    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </header>
        <div class="row">
          {% for latest in latest %}
          <div class="post col-md-4">
            <div class="post-thumbnail"><a href="post.html"><img src="{{ latest.thumnail.url }} " alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">{{ latest.timestamp  }}</div>
                {% for cat in latest.categories.all %}
                <div class="category"><a href="#">{{ cat }},</a></div>
                {% endfor %}
              </div><a href="post.html">
                <h3 class="h4">{{latest.title}}</h3></a>
              <p class="text-muted">{{latest.overview}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">

              <form action="." method="POST">
                <div class="form-group">
                  {% csrf_token %}
                    {{form}}
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
          {% for update_pix in object_list %}
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="{{update_pix.thumnail.url}}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
          {% endfor %}

      </div>
    </section>
    <!-- Page Footer-->

    {% endblock content %}
    <!-- JavaScript files-->
   
 